.menu {
    display: none;
    position: absolute;
    bottom: 30px;
    right: -55px;
    box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.24);
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    line-height: normal;
}

.show {
    display: block;
}


/* METRIC MENU */

.selected {
    color: #06AD85;
    font-weight: bold;
}

.node-parallel{
    display: flex;
}

.zoom-controls {
    position: absolute;
    bottom: 70px;
    right: 100px;
    z-index: 1000;
}

.zoom-button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 6px;
}

.zoom-button img{
    height: 70px;
}


