.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #767676;
    background-color: white;
}

.circle.isOver {
    width: 14px;
    height: 14px;
    background-color: #06AD85;
    border:none;
}

/* Pseudo-element for plus sign */
.circle.isOver::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 8px;
    background-color: white;
}

.circle.isOver::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 2px;
    background-color: white;
}

.circle.isOver::after:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 8px;
    background-color: white;
}